* {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    font-size: 74px;
    margin: 25px;
    height: 5rem;
    width: 18rem;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
